<div class="form">
  <form id="new-link-form">
    URL: <input type="text" name="link[url]" id="link_url" /><br>
    Title: <input type="text" name="link[title]" id="link_title" /><br>
    <input type="submit" value="Add Link" id="new-link-button"/>

  </form>
</div>


<!-- <%#= form_for :link, url: '/links', remote: true do |f| %>
URL: <%#= f.text_field :url, required: true %><br><br>
Title: <%#= f.text_field :title, required: true %><br><br>
<%#= f.submit "Add Link", id: "new-link-button" %>
<%# end %> -->
