<fieldset>
  <p>
    <% current_user.links.each do |link| %>
      Title: <%= link.title %><br>
      URL: <%= link.url %><br>
      Read?: <%= link.read %><br>
      <!-- <button type="button" name="update-read-button">Mark as </button> -->
      <button type="button" name="edit-link-button">Edit</button>
      <br><br>
    <% end %>
  </p>
</fieldset>

</p>
