<div class="container">
  <div class="row">
      <%= react_component 'Main' %>
  </div><!--/row-->
  <footer>
    <p>code by somedayrainbows &copy; <%= Date.today.year %></p>
  </footer>
</div> <!-- /container -->
